DS_Store
.idea
*.log
tmp/

*.class
build

.direnv/
flake.nix
flake.lock

.vscode/

raytracer/target/*
webserver/target/*
imageproc/target/*
javassist/target/*
middleware/target/*
middleware/target/maven-status/*
raytracer/resources/*
imageproc/resources/*

scripts/config.sh
scripts/.old/
scripts/client-output/
scripts/config-mine.sh
scripts/*.pem
scripts/image.id
scripts/instance.dns
scripts/instance.id
scripts/monitoring.dns
scripts/monitoring.id
scripts/vfxserver.service
