DS_Store
.idea
*.log
tmp/

*.class
build

.direnv/
flake.nix
flake.lock

.vscode/

raytracer/target/*
webserver/target/*
imageproc/target/*
javassist/target/*
middleware/target/*
middleware/target/maven-status/*
raytracer/resources/*
imageproc/resources/*
